.mdxeditor, textarea {
    margin-top:10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .mantine-Alert-message>div {
        background-color: transparent;
    }
    .speech-bubble {
        position: relative;
        background: #e0e0e0;
        border-radius: 0.4em;
        padding: 10px 15px;
        margin-bottom: 10px;
        max-width: 70%;

        * {
            background-color: transparent;
        }
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #e0e0e0;
        border-bottom: 0;
        margin-left: -10px;
        margin-bottom: -10px;
    }

    .speech-bubble.user {
        background: #dcf8c6;
        align-self: flex-end;
        margin-left: auto
    }

     .speech-bubble.user:after {
        border-top-color: #dcf8c6;
        left: auto;
        right: 10px;
    }